<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}  <!--partial에 있는 hbs 파일에 있는 걸 그대로 가져와서 쓰기-->
    <p>Some text here</p>

    {{> footer}} <!--partial에 있는 hbs 파일에 있는 걸 그대로 가져와서 쓰기-->
  </body>
</html>
